@{
    ViewData["Title"] = "Create Product";
}


<form action="/Home/Create" method="post">
    <div class="mb-3">
        <label for="Name" class="form-label">Ad</label>
        <input type="text" name="Name" id="Name" class="form-control">
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Qiymet</label>
        <input type="text" name="Price" id="Price" class="form-control">
    </div>

    <div class="mb-3">
        <label for="Image" class="form-label">Resm</label>
        <input type="text" name="Image" id="Image" class="form-control">
    </div>

    <div class="mb-3">
        <label for="CategoryId" class="form-label">Kateqoriya</label>
        <select name="CategoryId" id="CategoryId" class="form-select">
            <option value="0">Sec</option>

            @foreach(var item in ViewBag.Categories)
            {
                <option value="@item.CategoryId">@item.Name</option>
            }

        </select>
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" name="IsActive" id="IsActive" class="form-check-input">
        <label for="IsActive" class="form-check-label">Aktiv</label>
    </div>

    <button type="submit" class="btn btn-warning">Qeyd et</button>
</form>
